@font-face {
  font-family: "Pretendard Fallback";
  src: local("Malgun Gothic");
  ascent-override: 110.17%;
  descent-override: 27.91%;
  line-gap-override: 0%;
  size-adjust: 86.43%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.simplebar-placeholder {
  width: auto !important;
}

@media (min-width: 768px) {
  .thin-scrollbar::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 9999px;
  }

  @media (prefers-color-scheme: dark) {
    .thin-scrollbar::-webkit-scrollbar-thumb {
      background-color: #374151;
    }
  }
}
