@font-face {
  font-family: "Pretendard Fallback";
  src: local("Malgun Gothic");
  ascent-override: 110.17%;
  descent-override: 27.91%;
  line-gap-override: 0%;
  size-adjust: 86.43%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
